<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div id="main_body">
<h4><%=t('Task Templates')%></h4>
<div class="pigination"><%= will_paginate models %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Create Date') %></th>
    <th><%= t('Template Name') %></th>
    <th><%= t('Type Name') %></th>
    <th><%= t('Active') %></th>
    <th><%= t('Last Updated By') %></th>
    <th><%= t('Ranking') %></th>
    <th></th>
    
  </tr>

<% models.each do |r| %>
  <tr>
  	
  	<td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape template_path(r, :type_id => r.type_id)}" %></td>
  	<td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d") %></td>
    <td><%= prt(r, :name) %></td>   
    <td><%= TaskTemplatex.type_class.find_by_id(r.type_id).name %></td>
    <td><%= prt(r, :active) %></td>
    <td><%= prt(r, 'last_updated_by.name') %></td> 
    <td><%= prt(r, :ranking_order) %></td> 
    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_template_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %> </td>

  </tr>
<% end %>
</table>
  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
  &nbsp;&nbsp;<%= link_to t('New Template'), SUBURI + "/authentify/view_handler?index=1&url=#{new_template_path(:type_id => @type.id)}", :class => BUTTONS_CLS['action'] if @type && has_action_right?('create', params[:controller]) %>
</div>

<% end %>
